.container-2 img {
    height: 75vh;
    width: 100vw;
    object-fit: contain;
  }

  .course-offers {
    margin: 100px auto;
  }

  .container-3 {
    margin: auto;
    margin-bottom: 0px;
    width: 75%;
    display: grid;
    grid-template-columns: 300px auto;
  }

  body>.course-offers>section.container-3>div>p:nth-child(2),
  body>.course-offers>section.container-4>div>p:nth-child(2) {
    margin-top: 10px;
  }

  body>.course-offers>section.container-3>div>p:nth-child(3),
  body>.course-offers>section.container-4>div>p:nth-child(3) {
    margin-bottom: 0px;
  }

  body>.course-offers>section.container-3>div>p:nth-child(4),
  body>.course-offers>section.container-4>div>p:nth-child(4) {
    font-size: 1.75rem;
    font-weight: bold;
  }

  .container-3 button{
    background-color: white;
    border: 1px solid black;
    font-weight: 500;
    font-size: 18px;
    padding: 2px 10px;
    border-radius: 7px;
  }
  .container-5 {
    margin-top: 25px !important;
  }

  .instructors {
    margin: auto;
    width: 95%;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .instructor-container {
    text-align: center;
  }

  .instructors img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .card-text {
    text-align: center;
    font-size: 14px;
  }

  .card-title {
    font-size: 16px;
  }

  .instructor-container {
    margin: 100px auto;
  }

  .instructor-container>h2 {
    margin-bottom: 50px;
  }

  hr {
    width: 10%;
    margin: auto;
    border: 5px dotted black;
    border-bottom: none;
  }

  .domain {
    font-size: 14px;
  }
  .container-fluid{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }
  @media(max-width:882px) {
    .container-3{
      display:grid;
      grid-template-columns: 1fr;
      width:80%;
    }
    .container-4{
      display:grid;
      grid-template-columns: 1fr;
      width:80%;
    }
    .cc1{
      grid-row-start:2;
      text-align: left;
    }
  }
  @media(max-width:724px) {
    .card-title{
      font-size: 14px;
    }
    .domain{
      font-size: 12px;
    }
    .card-text{
      font-size: 12px;
    }
  }
  @media(max-width:650px){
    .instructors{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .card{
      margin: auto;
    }
  }
  @media(max-width:540px){
    .instructors img{
      height:200px;
    }
    .card{
      width:12rem !important;
    }
  }
  @media(max-width:428px){
    .instructors img{
      height:150px;
    }
    .card{
      height:100%;
      width:90% !important;
    }
    .card-body{
      padding:0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  @media(max-width:373px){
    .container-3{
      width:90%;
      font-size: 0.75rem;
    }
  }
  @media(max-width:330px){
    .instructors img{
      height:200px;
    }
    .instructors{
      display: grid;
      grid-template-columns: 1fr;
      width:75%;
      margin:auto;
    }
    .container-3 button{
      font-size: 14px;
    }
    body>.course-offers>section.container-3>div>p:nth-child(4),
  body>.course-offers>section.container-4>div>p:nth-child(4) {
    font-size: 1.25rem;
    font-weight: bold;
  }
  }