body{
    margin:0;
}
.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 900;
    font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p{
    margin:0;
    line-height: 2;
    font-family: "Merriweather", serif;;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    text-align: center;
    color:#27005D;
} 

h3{
    font-family: "Montserrat", sans-serif;
    color:#910A67;
}
.underline{
    text-decoration: underline;
}
.container-1{
    font-size: 2.5rem;
    color:#E4F1FF;
    background-color: #27005D;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.container-1 > div{
    margin:100px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-1  img{
    width:70%;
}
.container-2{
    text-align: center;
    
    color:#27005D;
    width:50%;
    margin:100px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-2 p , .container-3 p, .container-4 p{
    color:#9400FF;
}
.container-2 img{
    width:25%;
}
hr{
    width:6%;
    border:5px dotted #AED2FF;
    margin:auto;
    border-bottom: 0;
}
.container-3{
    margin:100px auto;
    width:50%;
    text-align: justify;
}
.container-3 > div{
    height: 200px;
}
.container-3 > h2{
    margin:35px auto;
}
.coding > img{
    float:left;
    margin-right: 25px;
}
.designing{
    clear:left;
    text-align: end;
}

.designing > img{
    float:right;
    margin-left: 25px;
}
.designing > p{
  text-align: justify;  
}
.container-4{
    text-align: center;
    width:50%;
    margin:100px auto;
}
.container-4 p{
    width:50%;
    margin: auto;
}
.container-5{
    height:150px;
    background-color: #E4F1FF;
    text-align: center;
}
a{
    position: relative;
    top:30px;
    text-decoration: none;
    padding:10px;
    font-size: 1.12rem;
    color:#AED2FF;
}

.container-5 p{
    margin-top:50px;
}
@media (max-width:992px){
    .container-1{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1.5rem;
    }
    .container-1 > .image-1{
        margin:0;
        margin-bottom: 25px;
    }
    .container-1  img{
        width:50%;
    }
    .title-1{
        margin-top: 50px !important;
        margin-bottom:50px !important;
    }
    .coding{
        height: auto !important;
    }
    .coding > h3,p{
        clear:left;
    }
    .designing{
        height: auto !important;
    }
    .designing > h3,p{
        clear:right;
    }
    .container-4 p{
        width: auto !important;
    }
}

